button
{
	font-size: 20px;
	font-family: Gill Sans Nova Light;
	background: transparent;
	padding: 1%
	border:0.3cm double;
	border-color: white;
	width: 20%
}
p
{
	font-size: 20px;
	font-family:Gill Sans Nova Light;
}
div
{
	text-align: center;
}
section
{
	background-color: black;
	width: 40%;
	height: 25%;
	font-family: Gill Sans Nova Light;
}
h2,h3
{
	font-family: Gill Sans Nova Light;
}
body
{
	background-color: lightblue;
}
